.jumbotron{ 
	margin-top:56px;
	color:black;
	padding:1px;
}
.jumbotron img{width:100%;}
footer{ padding:10px 10px 0 10px;
	margin-top:10px;
	background-color:brown;
}
.card-elem{
	/*flex-row 1 intacta , flex-basis: ancho definido*/
	margin-top:10px;
	flex:1 200px;
	padding:0px!important;
	border-radius:0px;
	padding:1rem;

}
.card-img-top{
	min-height:160px;
    	width: 100%;
}
.btn-reserva{
	width:100%;
}
.btn-reserva:after{
	content:"Reserva";
}

.back-color{
	background-color:#ccc;
}
.footer-address-icon{
	padding-right:10px;
}
.oi-plus{ padding:3px;}
.navbar{
	background-color:brown;
}
.breadcrumb{
	padding: 0.35rem 0.75rem;
	background-color:transparent;
	border-bottom:1px solid brown;
	border-radius:0px;
}
.tab-content{ padding-top:10px;}