.back-color {
  background-color: #ccc; }

.breadcrumb {
  padding: 0.35rem 0.75rem;
  background-color: transparent;
  border-bottom: 1px solid #CA4444;
  border-radius: 0px; }

.btn-reserva {
  width: 100%; }

.btn-reserva:after {
  content: "Reserva"; }

.card-elem {
  /*flex-row 1 intacta , flex-basis: ancho definido*/
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 1rem;
  border-radius: 0px; }

.card-img-top {
  min-height: 160px;
  width: 100%; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #CA4444;
  margin-top: 10px;
  margin-bottom: 0; }

.footer-address-icon {
  padding: 0px 10px 0px 0px; }

.jumbotron {
  margin-top: 55px;
  margin-bottom: 0;
  padding: 1px;
  color: black; }

.jumbotron img {
  width: 100%; }

.navbar {
  background-color: #CA4444; }

.oi-plus {
  padding: 3px; }

.tab-content {
  padding: 10px 0px 0px 0px; }
