$marron:brown;
@mixin margenes( $top, $bottom){
	margin-top:$top;
	margin-bottom:$bottom;
}
@mixin paddings( $valores ){
	padding: $valores;
}
.back-color{ background-color:#ccc; }
.breadcrumb{
	@include paddings (0.35rem 0.75rem);
	background-color:transparent;
	border-bottom:1px solid $marron;
	border-radius:0px;
}
.btn-reserva{ width:100%; }
.btn-reserva:after{ content:"Reserva"; }

.card-elem{
	/*flex-row 1 intacta , flex-basis: ancho definido*/
	flex:1 200px;
	@include margenes(10px, 0);
	@include paddings( 1rem );
	border-radius:0px;

}
.card-img-top{
	min-height:160px;
    	width: 100%;
}
footer{ padding:10px 10px 0 10px;
	background-color:$marron;
	@include margenes(10px, 0);
}
.footer-address-icon{ @include paddings( 0px 10px 0px 0px); }
.jumbotron{ 
	@include margenes(55px, 0);
	@include paddings( 1px );
	color:black;
}
.jumbotron img{width:100%;}
.navbar{ background-color:$marron; }
.oi-plus{ @include paddings( 3px );}
.tab-content{ @include paddings( 10px 0px 0px 0px); }

