@marron:#CA4444;
.margenes( @top :0px, @bottom :0px){
	margin-top:@top;
	margin-bottom:@bottom;
}
.paddings( @valores ){
	padding: @valores;
}
.back-color{ background-color:#ccc; }
.breadcrumb{
	.paddings (0.35rem 0.75rem);
	background-color:transparent;
	border-bottom:1px solid @marron;
	border-radius:0px;
}
.btn-reserva{ width:100%; }
.btn-reserva:after{ content:"Reserva"; }

.card-elem{
	/*flex-row 1 intacta , flex-basis: ancho definido*/
	flex:1 200px;
	.margenes(10px, 0);
	.paddings( 1rem );
	border-radius:0px;

}
.card-img-top{
	min-height:160px;
    	width: 100%;
}
footer{ padding:10px 10px 0 10px;
	background-color:@marron;
	.margenes(10px, 0);
}
.footer-address-icon{ .paddings( 0px 10px 0px 0px); }
.jumbotron{ 
	.margenes(55px, 0);
	.paddings( 1px );
	color:black;
}
.jumbotron img{width:100%;}
.navbar{ background-color:@marron; }
.oi-plus{ .paddings( 3px );}
.tab-content{ .paddings( 10px 0px 0px 0px); }

